body .book {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Times New Roman";
  font-size: 12px;
}

@font-face {
  font-family: "Times New Roman";
  src: url("../../assets/fonts/times.ttf");
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  width: 210mm;
  min-height: 297mm;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media print {
  html,
  body .book {
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 1.5;
    font-family: "Times New Roman";
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .page {
    margin: 20px;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
    page-break-inside: avoid;
    table {
      border: 0.5px solid rgba(0, 0, 0, 0.6) !important;
      border-collapse: collapse;
      td,
      th {
        border: 0.5px solid rgba(0, 0, 0, 0.6) !important;
        border-collapse: collapse;
        padding: 5px !important;
      }
    }
  }
  table {
    font-size: 12px !important;
  }

  @page {
    size: A4 auto;
    // margin: 20px;
  }
}
