.section-account {
  .container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(-135deg, #ffc618, #fff);
  }
  .wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    padding: 100px 30px 100px 50px;
  }
  .login100-pic {
    width: 316px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      vertical-align: middle;
      border-style: none;
    }
  }
  .login100-form {
    width: 350px;
  }
  .login100-form-title {
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 30px;
    font-weight: 700;
  }
  .validate-input {
    position: relative;
  }
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
}
