.bg-yl {
  background-color: $yellowColor1;
}
.text-yl {
  color: $yellowColor1;
}
.text-bl {
  color: $blueColor1;
}

// =============================== SVG ==================================
svg {
  width: 20px;
  height: 20px;
  color: #000;
}

// =============================== Button ==================================

.btn-main-yl {
  background: $yellowColor1;
  padding: 7px 10px;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
  &:hover {
    background-color: $yellowColor2 !important;
    color: #000 !important;
  }
}
.btn-main-bl {
  background: $blueColor1;
  padding: 7px 10px;
  border-radius: 8px;
  color: whitesmoke;
  svg {
    color: whitesmoke;
  }
  &:hover {
    background-color: $blueColor5 !important;
  }
}
.btn-main-dark {
  background: $blackColor1;
  padding: 7px 10px;
  border-radius: 8px;
  color: whitesmoke;
  svg {
    color: whitesmoke;
  }
  &:hover {
    background-color: $blackColor3 !important;
  }
}
.btn-cancel {
  background: transparent;
  border: 1px solid $grayColor2;
  padding: 7px 10px;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
  &:hover {
    border-color: $blueColor3;
    color: $blueColor3 !important;
  }
}
.btn-actions {
  height: 38px;
  padding: 5px 15px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.btn-success {
  background-color: $greenColor2;
  color: whitesmoke;
  border: none;
  &:hover {
    background-color: $greenColor1;
    color: whitesmoke !important;
    border: none;
  }
}
.btn-undo {
  background-color: $blackColor1;
  color: whitesmoke;
  border: none;
  &:hover {
    background-color: $blackColor2;
    color: whitesmoke !important;
    border: none;
  }
}
.btn-upload {
  border: 1px solid gray;
  width: max-content;
  padding: 2px 5px;
  border-radius: 4px;
  font-weight: 400 !important;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s;
  svg {
    width: 15px !important;
    height: 15px !important;
    margin-right: 5px;
    transition: all 0.2s;
  }
  &:hover {
    border-color: $blueColor3;
    color: $blueColor3 !important;
    svg {
      color: $blueColor3 !important;
    }
  }
}
.dropdownBtn {
  padding: 0;
  width: 38px;
  svg {
    width: 15px;
    height: 15px;
    color: #79797a;
  }
  &:hover {
    border-color: $yellowColor1 !important;
  }
}
// =============================== FORM ==================================
.form-group {
  &.passwordInput {
    margin-bottom: 0;
  }
  label {
    svg {
      width: 25px;
      height: 25px;
      color: #79797a;
    }
  }
  input,
  textarea {
    border-radius: 4px;
    height: 38px;
    padding: 12px 19px;
    border: 1px solid #cfd4d8;
    background-color: #fff;
    color: #455560;
    font-weight: 500;
    background-image: none;
    &:focus-visible {
      outline-color: $yellowColor1;
    }
    &[disabled],
    &[pointer-events="none"] {
      background-color: #cfd4d8;
    }
  }
  textarea {
    height: unset;
  }
}
.form-style {
  display: flex;
  flex-direction: column;
  label {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #000;
    svg {
      color: #000;
    }
  }
  input,
  textarea {
    font-weight: 400;
    padding: 12px 11px;
  }
}

.confirmFile {
  .form-style {
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
    label {
      width: 50%;
    }
    .cols {
      flex-grow: 1;
    }
    .ant-select {
      flex-grow: 1;
    }
  }
}
.filter-search {
  .form-style {
    display: flex;
    gap: 8px;
    flex-direction: row;
  }
  .form-style-2 {
    flex-direction: column;
    gap: 4px;
    label {
      color: $blueColor4;
    }
  }
  input {
    width: 400px;
  }
}
.ant-select-single {
  height: 38px;
  color: #455560;

  .ant-select-selector {
    border: 1px solid #cfd4d8 !important;
    border-radius: 4px;
    input {
      color: #455560;
    }
  }
}
.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector {
  border-color: #cfd4d8;
}
.ant-pagination-options-size-changer {
  display: none;
}
.ant-select-multiple {
  min-height: 38px;
  .ant-select-selector {
    min-height: 38px;
  }
}
.ant-select .ant-select-arrow .anticon > svg,
.ant-select-multiple .ant-select-selection-item-remove svg,
.ant-select-item-option-state svg {
  width: 11px;
  height: 11px;
}

.accountLayout {
  .form-group {
    div.flex {
      border-radius: 4px;
      border: 1px solid #cfd4d8;
      padding-left: 10px;
      margin-bottom: 0 !important;
      input {
        border-radius: unset;
        border: unset;
        &:focus-visible {
          outline: unset !important;
        }
      }
      &:focus-within {
        border-color: $yellowColor1;
      }
    }
  }
}
.ant-image .ant-image-mask {
  border-radius: 50%;
}

// =============================== MAIN LAYOUT ==================================
.page-header {
  background-color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 8px;
  color: $blueColor4;
}
.page-content {
  margin-top: 1.25rem;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
}
// =============================== TABLE ==================================
.table-render-API {
  .ant-table-content {
    overflow: scroll;
  }
  table {
    table-layout: fixed !important;
  }
  .ant-table-wrapper .ant-table-thead > tr > th,
  .ant-table-wrapper .ant-table-thead td {
    background-color: #d6d8db;
  }
  &.table-render-API2 {
    .ant-table-wrapper .ant-table-thead > tr > th,
    .ant-table-wrapper .ant-table-thead td {
      background-color: #fff;
    }
    .ant-table-wrapper .ant-table-tbody > tr > th {
      background-color: #fff;
    }
  }
}
th {
  text-align: center !important;
}
.ant-table-header,
.ant-table-body {
  table {
    tr {
      td,
      th {
        &:last-child {
          width: 122px;
          max-width: 121px;
          min-width: 121px;
        }
      }
    }
  }
}
.ant-table-selection-column {
  width: 50px;
  max-width: 50px;
}
.ant-table-wrapper .ant-table {
  line-height: 1;
}
.ant-table-wrapper .ant-table-cell,
:where(.css-dev-only-do-not-override-qgg3xn).ant-table-wrapper
  .ant-table-thead
  > tr
  > th {
  overflow-wrap: unset !important;
}
// =============================== PAGINATION ==================================
.ant-pagination {
  .anticon svg {
    width: 12px;
  }
  &.ant-pagination-mini {
    .ant-pagination-item,
    .ant-pagination-prev,
    .ant-pagination-next {
      margin-right: 4px;
    }
  }
}
// =============================== OTHERS ==================================
.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @media screen and (max-width: 1279.98px) {
    flex-wrap: wrap;
    .justify-end {
      justify-content: flex-start;
    }
    gap: 5px;
  }
}
.icon-actions {
  button {
    width: 38px;
    height: 38px;
    background-color: #cfd4d869;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
  svg {
    width: 25px;
    height: 25px;
  }
}
.switch-type {
  height: 38px;
  display: flex;
  align-items: center;
}
.ant-switch {
  background: rgba(0, 0, 0, 0.45);
}
// =============================== MODALS ==================================
.ant-modal .ant-modal-header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #455560;
  text-transform: uppercase;
}
.ant-modal .ant-modal-title {
  font-size: 20px;
}
.main-modal .ant-modal {
  width: 700px !important;
}
.modal-view-detail .ant-modal {
  min-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1279.98px) {
    min-width: calc(100vw - 30px);
  }
}
// =============================== TABS ==================================
.tab-item {
  display: flex;
  gap: 7px;
  align-items: center;
}
.ant-tabs .ant-tabs-tab:hover {
  color: $blueColor1;
  svg {
    color: $blueColor1;
  }
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $blueColor4;
  svg {
    color: $blueColor4;
  }
}
.ant-tabs .ant-tabs-ink-bar {
  background-color: $blueColor4;
}
// =============================== STEPS ==================================
.ant-steps-icon svg,
.ant-collapse-arrow svg {
  width: 15px;
  height: 15px;
}
.ant-steps.ant-steps-label-vertical .ant-steps-item-content {
  width: 107px;
}
.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #1677ff;
  border-color: #1677ff;
  svg {
    fill: white;
  }
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #e6f4ff;
  border-color: #e6f4ff;
  & > .ant-steps-icon {
    color: black;
  }
}
.stepFilter {
  // width: 100%;
  overflow: hidden;
  .ant-tabs-tab {
    color: #00000073;
  }
  .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #0958d9 !important;
  }
  .ant-tabs-ink-bar {
    background-color: #0958d9 !important;
  }
}
// =============================== COLLAPSE ==================================
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: whitesmoke;
  svg {
    color: whitesmoke;
  }
  background: linear-gradient(
    90deg,
    rgba(23, 45, 106, 1) 28%,
    rgba(65, 88, 150, 1) 92%
  );
}
.ant-collapse {
  border-color: $blueColor4;
  overflow: hidden;
}
.ant-collapse > .ant-collapse-item {
  border-color: $blueColor4;
}
// =============================== POPCONFIRM ==================================
.warning-icon-popconfirm {
  svg {
    color: red;
  }
}

.ant-collapse-header {
  pointer-events: auto !important;
}

.ant-statistic .ant-statistic-title {
  font-size: 20px;
  color: $blackColor3;
  font-weight: 500;
}
.ant-statistic .ant-statistic-content {
  font-weight: 500;
  color: $blueColor5;
}
.walletItem {
  .ant-card .ant-card-body {
    background-color: #f0f0f0;
    border-radius: 8px;
  }
}

.fileName {
  color: $blueColor5;
  font-size: 12px;
  font-style: italic;
}
.btns-file {
  display: flex;
  gap: 5px;
  svg {
    width: 15px;
  }
  button {
    &:first-child {
      svg {
        color: $blackColor2;
      }
    }
    &:nth-child(2) {
      svg {
        color: $blueColor1;
      }
    }
    &:last-child {
      svg {
        color: darkred;
      }
    }
  }
}

.Spreadsheet__table {
  tr {
    &:nth-child(2) {
      font-weight: 700;
      td {
        background-color: $yellowColor1;
        text-align: center;
      }
    }
  }
  td {
    color: #000;
  }
}
// =============================== HIDE ARROW INPUT NUMBER ==================================
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// =============================== EXCEL TABLE ==================================
#sheetData {
  .excel-angel {
    font-size: 0;
    line-height: 0;
    width: 0;
    border-top: 20px solid #eeeeee;
    border-right: 20px solid #999999;
  }
  .excel-top {
    padding: 3px 5px !important;
    height: 21px !important;
    background-color: #eeeeee !important;
    border-right: 1px solid #dbdbdb;
    display: table-cell;
  }
  .excel-left {
    background-color: #eeeeee !important;
    text-align: center;
    border-right: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    width: 10px;
    display: table-cell;
  }
  .excel-cell {
    padding: 3px 5px !important;
    height: 21px !important;
    border-right: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    min-width: 93px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-line-clamp: 1; /* number of lines to show */
    // line-clamp: 1;
    // -webkit-box-orient: vertical;
  }
  .excel-selected .excel-cell {
    background: #e5fcff !important;
  }
  .excel-header .excel-cell {
    font-weight: bold;
    background: #008fe2 !important;
    color: #fff !important;
  }
  .excel-selected.exists .excel-cell {
    background: #f7b1ae !important;
  }
  .excel-selected.notfound .excel-left {
    border-left: 2px solid red;
  }
}
// ===============================IMAGE MASK ==================================
.listParameters .ant-image .ant-image-mask {
  border-radius: unset;
}
.filter-search .form-style-block {
  display: block;
}
// SCROLL BAR
.ant-table-body,
.ant-tabs-nav-list {
  @media screen and (max-width: 1279.98px) {
    overflow: scroll;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
    @media screen and (max-width: 1279.98px) {
      width: 5px;
      height: 5px;
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: #939394d6;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
  }
}

body.overlay-open {
  overflow: hidden;
  pointer-events: none !important;
}

// .ant-tabs.stepFilter {
//   overflow: hidden !important;
// }

.ant-modal-content .confirmFile .ant-select-selector {
  max-width: 200px;
}

.popUp .ant-steps-item {
  cursor: pointer !important;
}
.btn-main-yl-tst {
  background: #ffc618;
  /* padding: 7px 10px; */
  border-radius: 8px;
  color: #000;
  cursor: pointer;
}
.ant-dropdown-menu-submenu-arrow > .ant-dropdown-menu-submenu-arrow-icon > svg {
  width: 15px;
  height: 15px;
}

.ant-menu-title-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

// Tabs bar
// Tắt nút chấm chấm chấm làm giật thanh filter trạng thái
:where(.css-qgg3xn).ant-tabs > .ant-tabs-nav .ant-tabs-nav-more,
:where(.css-qgg3xn).ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-more {
  display: none;
}
