@media print {
  .header {
    margin-bottom: 20px;
  }
  .title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  table {
    line-height: 1;
    font-family: "Times New Roman";
  }
  .bieuMauCode {
    padding: 5px 20px;
    border: 1px solid black;
  }
}
