@import '../../scss/abstracts/variables';   
.section-header{
    .ant-btn-default:not(:disabled):not(.ant-btn-disabled){
        background-color: $yellowColor1;
        border-color: $yellowColor1;
    }
    .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
        background-color: $yellowColor2;
        border-color: $yellowColor2;
    }
    .ant-space-item{
        height: 100%;
        padding: 10px 0;
        button{
            height: 100%;
        }
    }
}