@import "../../../scss/abstracts/variables";
.personal-detail {
  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid $grayColor;
  }
  ul{
    li{
        display: flex;
        margin-bottom: 15px;
        .title{
            min-width: 120px;
            font-weight: 500;
        }
    }
  }
}
