@import "../../scss/abstracts/variables";
.main-sidebar {
  bottom: 0;
  float: none;
  left: 0;
  position: fixed;
  top: 0;
  color: #1f2d3d;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  &,
  &:before {
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  }
}
.ant-layout .ant-layout-sider {
  background: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}
.section-sidebar {
  svg {
    width: 20px;
    height: 20px;
    color: #000;
    margin-right: 5px;
  }

  .demo-logo-vertical {
    height: 56px;
    margin: 16px;
    background-image: url("../../../public/img/logos/fullLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 6px;
  }

  li,
  .ant-menu-submenu-title {
    color: #6c757d;
    min-height: 52px;
    padding-left: 24px !important;
  }
  li.ant-menu-submenu {
    padding-left: 0 !important;
  }
  .ant-menu-sub li {
    padding-left: 50px !important;
  }
  .ant-menu-light .ant-menu-item-selected,
  .ant-menu-light > .ant-menu .ant-menu-item-selected,
  .ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title,
  .ant-menu-light
    > .ant-menu
    .ant-menu-submenu-selected
    > .ant-menu-submenu-title {
    background-color: $yellowColor1;
  }
  .ant-menu-inline > .ant-menu-item,
  .ant-menu-vertical > .ant-menu-item,
  .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
    color: black !important;
    line-height: 56px !important;
  }
  .ant-menu-light:not(.ant-menu-horizontal)
    .ant-menu-item:not(.ant-menu-item-selected):hover,
  .ant-menu-light
    > .ant-menu:not(.ant-menu-horizontal)
    .ant-menu-item:not(.ant-menu-item-selected):hover,
  .ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover,
  .ant-menu-light
    > .ant-menu:not(.ant-menu-horizontal)
    .ant-menu-submenu-title:hover {
    background-color: $yellowColor3;
  }
  .ant-layout-sider-children > ul {
    height: unset !important;
  }

  // ul {
  //   &.ant-menu {
  //     li {
  //       &:nth-child(5) {
  //         display: none;
  //       }
  //     }
  //   }
  // }
}
